#chat-screen{
    background-color: #abc1d1;
    height: 100vh;
}
#chat-screen #status-bar,
#chat-screen .alt-header{
    position:fixed;
    width: 100%;
    box-sizing: border-box;
    top:0;
    background-color: #abc1d1;
}
#chat-screen #status-bar{
    z-index: 2;
}

#chat-screen .alt-header{
    top:10px;
    z-index: 1;
}
/* ************************main***************************** */
.main-chat{
    margin-top:120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.chat_timestamp{
    color: white;
    background-color: #92a4b2;
    padding:15px;
    font-size: 13px;;
    border-radius: 25px;
    margin-bottom:25px;
}
/* ********************message-row**************************** */
.message-row{
    width: 100%;
    display:flex;
    margin-bottom:25px;
}
.message-row--left{
    animation:messageLeft 1s ease-in-out ;
}
@keyframes messageLeft{
    from{
        transform: translateX(-250px);
        
    }
    to{
        transform: none;
    }
}
.message-dot{
    animation: messageLeft 1s ease-in-out forwards;
    animation-delay: 2.4s;
    transform: translateX(-250px);
}
.message-dot_chatting{
    display:flex;
    
}
.message-dot .dotdotdot{
    width: 10px;
    height: 10px;
    
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
    margin-right:5px;
    margin-left:5px;
    animation: dot 1s ease-in-out infinite;
    animation-delay:3.3s;
}
.dotdotdot:nth-child(2){
    animation-delay:3.4s;
}
.dotdotdot:last-child{
    animation-delay:3.5s;
}
@keyframes dot{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}
.message-row--own{
    animation: messageRight 1s ease-in-out forwards;
    animation-delay: 1.3s;
    transform: translateX(250px);
}
@keyframes messageRight{
    from{
        
        
    }
    to{
        transform: none;
    }
}
.message-row img{
    width:50px;
    height: 50px;
    border-radius:50% ;
    margin-right:10px;
}
.message_author{
    display:block;
    opacity:0.8;
    font-size:16px;
    margin-bottom:7px;
}
.message_info{
    display: flex;
    align-items: flex-end;
}
.message_bubble{
    background-color:white;
    padding:13px;
    border-radius: 15px;
    border-top-left-radius:0px;
    margin-right:5px;
    font-size: 18px;
}
.message_time{
    font-size: 13px;
    opacity:0.8;
}
.message-row--own{
    justify-content:flex-end;   
}

.message-row--own .message_bubble{
    background-color: var(--yellow);
    border-top-right-radius:0px;
    border-top-left-radius:15px;
    margin-left:5px;
    margin-right:0px;
    /* order:0; */
}
/* .message-row--own .message_bubble{
    order:1;
} */
.message-row--own .message_info{
    flex-direction: row-reverse;
}
/* ************************form*************************** */
.reply{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content:space-between;
    padding:5px 25px 5px 15px;
    align-items: center;
    box-sizing: border-box;
    transition:all 0.3s ease-in-out;
}
.reply .reply_column:first-child{
    width: 10%;
}
.reply .reply_column:last-child{
    width: 90%;
    
    position: relative;
}
.reply input{
    
    width: 100%;
    border: var(--main-border);
    border-radius:20px;
    padding:14px;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
}

.reply .reply_column:last-child>i,
.reply .reply_column:last-child button{
    position: absolute;
    right:3px;
    top:7px;
}
.reply .reply_column:last-child>i{
    right:40px;
    top:15px;
}
.reply i{
    opacity:0.5;
}
.reply button i{
    opacity: 1;
}
/* .reply i:not(button>i){
    opacity:0.5;
} */
.reply_column button{
    background-color:var(--yellow);
    border:none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.reply_column button:focus,
.reply_column button:active{
    outline:none;
}


/*focus-within은 reply 내부에 어떤 element가 focus되어 있다면 이라는 뜻  */ 
.reply:focus-within .reply_column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button{
    opacity:0;
}
.reply input:focus{
    width: 93vw;
    transform:translateX(-10%) translateY(-80px);

}
.reply .reply_column:first-child,
.reply .fa-smile-wink,
.reply button{
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within{
    transform:translateY(80px);
}