.nav{
    position:fixed;
    bottom:0;
    width:100%;
    background-color: #f9f9fa;
    padding:20px 50px;
    box-sizing: border-box;
    border-top:1px solid rgba(0,0,0,0.2);

}
.nav_list{
    display: flex;
    justify-content: space-between;
}
.nav_list li{
    font-size:20px;
}
.nav_link{
    color:#2e363e;
    position: relative;
}
.nav_notification{
  
    position: absolute;
    left:15px;
    bottom:13px;
    animation: navAnimation 2s ease-in-out infinite;
}

.nav_btn{
    
    opacity: 0;
    transform:translateY(50px);
    animation: tadaNav 0.8s ease-in-out forwards ;
    
}
.nav_btn:nth-child(2){
    animation-delay:0.4s;
}
.nav_btn:nth-child(3){
    animation-delay: 0.5s;
}
.nav_btn:last-child{
    animation-delay: 0.6s;
}

@keyframes tadaNav{
    from{
       
        
    }
    to{
        transform:none;
        opacity: 1;
    }
}

@keyframes navAnimation{
    0%{
        transform:none;
    }
    50%{
        transform: translateY(-5px) rotateY(180deg);
    }
    100%{transform: none;}
}